xsds/KingCrediteuren.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:element name="KING_CREDITEUREN">
		<xs:annotation>
			<xs:documentation>King crediteuren versie 19-09-2016</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="CREDITEUREN">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="CREDITEUR" maxOccurs="unbounded">
								<xs:complexType>
									<xs:all>
										<xs:element name="NAW_NUMMER" nillable="true" minOccurs="0">
											<xs:simpleType>
												<xs:list itemType="INT10"/>
											</xs:simpleType>
										</xs:element>
										<xs:element name="NAW_ZOEKCODE" minOccurs="0">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="10"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="NAW_BETALINGSCONDITIE" nillable="true" minOccurs="0">
											<xs:simpleType>
												<xs:list itemType="xs:integer"/>
											</xs:simpleType>
										</xs:element>
										<xs:element name="NAW_LEVERINGSCONDITIE" nillable="true" minOccurs="0">
											<xs:simpleType>
												<xs:list itemType="UINT3"/>
											</xs:simpleType>
										</xs:element>
										<xs:element name="NAW_VALUTACODE" nillable="true" minOccurs="0">
											<xs:simpleType>
												<xs:list itemType="VALUTA"/>
											</xs:simpleType>
										</xs:element>
										<xs:element name="NAW_BTWCODE" nillable="true" minOccurs="0">
											<xs:simpleType>
												<xs:list itemType="UINT3"/>
											</xs:simpleType>
										</xs:element>
										<xs:element name="NAW_TAALCODE" minOccurs="0">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="3"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="NAW_KREDIETLIMIET" default="0" minOccurs="0">
											<xs:simpleType>
												<xs:restriction base="xs:decimal">
													<xs:minInclusive value="0"/>
													<xs:maxInclusive value="9999999999.99"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="NAW_TEGENREKENING" minOccurs="0">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="28"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="NAW_BTWNUMMER" minOccurs="0">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="15"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="NAW_ONSDEBITEURNUMMER" minOccurs="0">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="20"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="NAW_KVKNUMMER" minOccurs="0">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="40"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="NAW_OPMERKING" type="xs:string" minOccurs="0"/>
										<xs:element name="NAW_WEBSITE" minOccurs="0">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="250"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="NAW_INKOOPGEGEVENSBIJHOUDEN" nillable="true" minOccurs="0">
											<xs:simpleType>
												<xs:list itemType="BOOL"/>
											</xs:simpleType>
										</xs:element>
										<xs:element name="NAW_BLOKKERENVOORBESTELLEN" nillable="false" minOccurs="0">
											<xs:simpleType>
												<xs:list itemType="BOOL"/>
											</xs:simpleType>
										</xs:element>
										<xs:element name="NAW_BESTELADRESSOORT" nillable="true" minOccurs="0">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:enumeration value="BEST"/>
													<xs:enumeration value="VEST"/>
													<xs:enumeration value="COR"/>
													<xs:enumeration value=""/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="NAW_BESTELADRESNUMMER" nillable="true" minOccurs="0">
											<xs:simpleType>
												<xs:list itemType="INT3"/>
											</xs:simpleType>
										</xs:element>
										<xs:element name="NAW_INKOPERNUMMER" nillable="true" minOccurs="0">
											<xs:simpleType>
												<xs:list itemType="INT3"/>
											</xs:simpleType>
										</xs:element>
										<xs:element name="NAW_MINIMUMBESTELBEDRAG_VALUTACODE" nillable="true" minOccurs="0">
											<xs:simpleType>
												<xs:list itemType="VALUTA"/>
											</xs:simpleType>
										</xs:element>
										<xs:element name="NAW_MINIMUMBESTELBEDRAG" nillable="true" minOccurs="0">
											<xs:simpleType>
												<xs:list itemType="BEDRAG"/>
											</xs:simpleType>
										</xs:element>
										<xs:element name="NAW_BESTELKOSTEN_VALUTACODE" minOccurs="0">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="3"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="NAW_BESTELKOSTEN_BEDRAG" nillable="true" minOccurs="0">
											<xs:simpleType>
												<xs:list itemType="BEDRAG"/>
											</xs:simpleType>
										</xs:element>
										<xs:element name="NAW_BESTELKOSTEN_VANAFBEDRAG" nillable="true" minOccurs="0">
											<xs:simpleType>
												<xs:list itemType="BEDRAG"/>
											</xs:simpleType>
										</xs:element>
										<xs:element name="NAW_BESTELKOSTEN_TMBEDRAG" nillable="true" minOccurs="0">
											<xs:simpleType>
												<xs:list itemType="BEDRAG"/>
											</xs:simpleType>
										</xs:element>
										<xs:element name="NAW_INKOOP_LEVERTIJDINDAGEN" nillable="true" minOccurs="0">
											<xs:simpleType>
												<xs:list itemType="UINT3"/>
											</xs:simpleType>
										</xs:element>
										<xs:element name="NAW_INKOOP_KWALITEIT" nillable="true" minOccurs="0">
											<xs:annotation>
												<xs:documentation>10 Is het beste; 1 is het slechtste; 0 is onbekend/niet van toepassing</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:list itemType="KWALITEIT"/>
											</xs:simpleType>
										</xs:element>
										<xs:element name="NAW_INKOOPPRIJSPER" nillable="true" minOccurs="0">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:enumeration value="INKOOPEENHEID"/>
													<xs:enumeration value="VOORRAADEENHEDEN"/>
													<xs:enumeration value=""/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="NAW_INKOOP_KORTINGSPERCENTAGE" nillable="true" minOccurs="0">
											<xs:simpleType>
												<xs:list itemType="PERCENTAGE"/>
											</xs:simpleType>
										</xs:element>
										<xs:element name="NAW_INKOOP_BEREKENINGKOSTPRIJS" minOccurs="0">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:enumeration value="FACTOR"/>
													<xs:enumeration value="TOESLAG"/>
													<xs:enumeration value=""/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="NAW_INKOOP_KOSTPRIJSFACTOR" default="1" nillable="true" minOccurs="0">
											<xs:simpleType>
												<xs:restriction base="xs:decimal">
													<xs:minInclusive value="1"/>
													<xs:maxInclusive value="999.999"/>
													<xs:fractionDigits value="3"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="NAW_INKOOP_DIRECTE_LEVERING_TOEGESTAAN" nillable="true" minOccurs="0">
											<xs:simpleType>
												<xs:list itemType="BOOL"/>
											</xs:simpleType>
										</xs:element>
										<xs:element name="NAW_INKOOP_EENHEDEN_DEFAULT_DIRECTE_LEVERING" minOccurs="0">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:enumeration value="NIETTOEGESTAAN"/>
													<xs:enumeration value="TOEGESTAANNIETVIADIRLEV"/>
													<xs:enumeration value="TOEGESTAANVIADIRLEV"/>
													<xs:enumeration value=""/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="NAW_VESTIGINGADRES" type="KING_ADRES" minOccurs="0"/>
										<xs:element name="NAW_CORRESPONDENTIEADRES" type="KING_ADRES" minOccurs="0"/>
										<xs:element name="NAW_CONTACTPERSONEN" minOccurs="0">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="NAW_CONTACTPERSOON" type="KING_CONTACTPERSOON" maxOccurs="unbounded"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="NAW_VERZENDADRESSEN" minOccurs="0">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="NAW_VERZENDADRES" type="KING_VERZEND_ADRES" maxOccurs="unbounded"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="NAW_SELECTIES" minOccurs="0">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="NAW_SELECTIE" minOccurs="0" maxOccurs="unbounded">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="NAW_SELECTIECODE">
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:maxLength value="3"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
												<xs:attribute name="action" use="optional">
												<xs:simpleType>
													<xs:restriction base="xs:string">
														<xs:enumeration value="delete"/>
													</xs:restriction>
												</xs:simpleType>
											</xs:attribute>
											</xs:complexType>
										</xs:element>
										<xs:element name="NAW_BANKREKENINGEN" minOccurs="0">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="NAW_BANKREKENING" maxOccurs="unbounded">
														<xs:complexType>
															<xs:all>
																<xs:element name="BANK_REKENINGNUMMER">
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:maxLength value="34"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="BANK_REKENINGHOUDER" minOccurs="0">
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:maxLength value="70"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="BANK_ADRES" minOccurs="0">
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:maxLength value="70"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="BANK_POSTCODE" minOccurs="0">
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:maxLength value="70"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="BANK_WOONPLAATS" minOccurs="0">
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:maxLength value="70"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="BANK_LANDCODE" minOccurs="0">
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:maxLength value="3"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="BANK_ISDEFAULTREKENING" nillable="true" minOccurs="0">
																	<xs:simpleType>
																		<xs:list itemType="BOOL"/>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="BANK_ISBETALINGSOPDRACHTENREKENING" nillable="true" minOccurs="0">
																	<xs:simpleType>
																		<xs:list itemType="BOOL"/>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="BANK_ISZUIVEREREKENING" nillable="true" minOccurs="0">
																	<xs:simpleType>
																		<xs:list itemType="BOOL"/>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="BANK_ISBINNENLAND" nillable="true" minOccurs="0">
																	<xs:simpleType>
																		<xs:list itemType="BOOL"/>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="BANK_BIC" minOccurs="0">
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:maxLength value="11"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="BANK_KANTOORNAAM" minOccurs="0">
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:maxLength value="70"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="BANK_KANTOORADRES" minOccurs="0">
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:maxLength value="70"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="BANK_KANTOORPOSTCODE" minOccurs="0">
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:maxLength value="70"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="BANK_KANTOORPLAATS" minOccurs="0">
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:maxLength value="70"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="BANK_KANTOORLANDCODE" minOccurs="0">
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:maxLength value="3"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="BANK_OPMERKING" type="xs:string" minOccurs="0"/>
																<xs:element name="BANK_SOORTOPDRACHT" minOccurs="0">
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:maxLength value="1"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="BANK_SOORTUITVOERING" minOccurs="0">
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:maxLength value="1"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="BANK_KOSTENBINNENLAND" minOccurs="0">
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:maxLength value="1"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="BANK_KOSTENBUITENLAND" minOccurs="0">
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:maxLength value="1"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="BANK_INSTRUCTIE1" minOccurs="0">
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:maxLength value="2"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="BANK_INSTRUCTIE2" minOccurs="0">
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:maxLength value="2"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="BANK_INSTRUCTIE3" minOccurs="0">
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:maxLength value="2"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="BANK_INSTRUCTIE4" minOccurs="0">
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:maxLength value="2"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
															</xs:all>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="NAW_DOCUMENTEN" minOccurs="0">
											<xs:complexType>
												<xs:sequence minOccurs="0">
													<xs:element name="NAW_DOCUMENT_INSTELLING" maxOccurs="unbounded">
														<xs:complexType>
															<xs:sequence minOccurs="0">
																<xs:element name="DOC_DOCUMENTSOORT">
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:enumeration value="BESTELLING"/>
																			<xs:enumeration value="BESTELLINGDIRLEV"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="DOC_REGELS">
																	<xs:complexType>
																		<xs:sequence>
																			<xs:element name="DOC_REGEL" maxOccurs="unbounded">
																				<xs:complexType>
																					<xs:sequence>
																						<xs:element name="DOC_REGELSOORT">
																							<xs:simpleType>
																								<xs:restriction base="xs:string">
																									<xs:enumeration value="AFDRUK"/>
																									<xs:enumeration value="EXTRA_AFDRUK"/>
																									<xs:enumeration value="AFDRUKFORMAAT"/>
																								</xs:restriction>
																							</xs:simpleType>
																						</xs:element>
																						<xs:element name="DOC_AFDRUKFORMAATNUMMER" minOccurs="0">
																							<xs:annotation>
																								<xs:documentation>Alleen verplicht als 'DOCREGELSOORT' 'AFDRUKFORMAAT' is</xs:documentation>
																							</xs:annotation>
																							<xs:simpleType>
																								<xs:restriction base="xs:integer">
																									<xs:minInclusive value="0"/>
																									<xs:maxInclusive value="999"/>
																								</xs:restriction>
																							</xs:simpleType>
																						</xs:element>
																						<xs:element name="DOC_AFDRUKVOORWAARDE" minOccurs="0">
																							<xs:simpleType>
																								<xs:restriction base="xs:string">
																									<xs:enumeration value="ALTIJD"/>
																									<xs:enumeration value="NOOIT"/>
																									<xs:enumeration value=""/>
																								</xs:restriction>
																							</xs:simpleType>
																						</xs:element>
																						<xs:element name="DOC_LAYOUTNUMMER_EXCLBTW" minOccurs="0">
																							<xs:simpleType>
																								<xs:restriction base="xs:integer">
																									<xs:minInclusive value="0"/>
																									<xs:maxInclusive value="999"/>
																								</xs:restriction>
																							</xs:simpleType>
																						</xs:element>
																					</xs:sequence>
																				</xs:complexType>
																			</xs:element>
																		</xs:sequence>
																	</xs:complexType>
																</xs:element>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="NAW_AFLEVERDAGEN" minOccurs="0">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="NAW_AFLEVERDAG" minOccurs="0" maxOccurs="unbounded">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="AFLEVERDAG" type="WEEKDAG"/>
																<xs:element name="AFLEVERMOMENT" minOccurs="0">
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:maxLength value="40"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="BESTELLENVOOR" nillable="true">
																	<xs:simpleType>
																		<xs:list itemType="WEEKDAG"/>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="TIJDSTIP" nillable="true" minOccurs="0">
																	<xs:simpleType>
																		<xs:list itemType="TIME"/>
																	</xs:simpleType>
																</xs:element>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="NAW_VRIJERUBRIEKEN" minOccurs="0">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="NAW_VRIJERUBRIEK" maxOccurs="unbounded">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="NAW_VRIJERUBRIEK_NAAM">
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:maxLength value="40"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="NAW_VRIJERUBRIEK_WAARDE" minOccurs="0"/>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:all>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="KING_ADRES">
		<xs:annotation>
			<xs:documentation>Standaard KING adres blok</xs:documentation>
		</xs:annotation>
		<xs:all>
			<xs:element name="ADR_NAAM1" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="40"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ADR_NAAM2" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="40"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ADR_STRAAT" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="40"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ADR_HUISNUMMER" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="10"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ADR_POSTCODE" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="40"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ADR_WOONPLAATS" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="40"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ADR_LAND" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="3"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ADR_EMAIL" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="80"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ADR_TELEFOON" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="25"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ADR_TELEFOON2" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="25"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ADR_TELEFAX" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="25"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ADR_EAN" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="13"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:all>
	</xs:complexType>
	<xs:complexType name="KING_VERZEND_ADRES">
		<xs:annotation>
			<xs:documentation>uitbreding van KING_ADRES</xs:documentation>
		</xs:annotation>
		<xs:all>
			<xs:element name="ADR_NAAM1" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="40"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ADR_NAAM2" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="40"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ADR_STRAAT" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="40"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ADR_HUISNUMMER" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="10"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ADR_POSTCODE" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="40"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ADR_WOONPLAATS" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="40"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ADR_LAND" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="3"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ADR_EMAIL" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="80"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ADR_TELEFOON" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="25"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ADR_TELEFOON2" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="25"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ADR_TELEFAX" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="25"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ADR_EAN" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="13"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ADR_NUMMER">
				<xs:simpleType>
					<xs:restriction base="xs:integer">
						<xs:totalDigits value="3"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ADR_OMSCHRIJVING" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="40"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ADR_CONTACTPERSOON" nillable="true" minOccurs="0">
				<xs:simpleType>
					<xs:list itemType="INT3"/>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ADR_OPMERKING" type="xs:string" minOccurs="0"/>
			<xs:element name="ADR_VRIJERUBRIEKEN" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="ADR_VRIJERUBRIEK" maxOccurs="unbounded">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="ADR_VRIJERUBRIEK_NAAM">
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="40"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="ADR_VRIJERUBRIEK_WAARDE" minOccurs="0"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:all>
	</xs:complexType>
	<xs:complexType name="KING_CONTACTPERSOON">
		<xs:annotation>
			<xs:documentation>KING Contactpersoon</xs:documentation>
		</xs:annotation>
		<xs:all>
			<xs:element name="CP_NUMMER">
				<xs:simpleType>
					<xs:restriction base="xs:integer">
						<xs:minInclusive value="0"/>
						<xs:maxInclusive value="999"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="CP_ACHTERNAAM" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="40"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="CP_VOORVOEGSEL" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="40"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="CP_VOORLETTERS" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="15"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="CP_VOORNAAM" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="40"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="CP_TITEL" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="15"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="CP_ACHTERVOEGSEL" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="15"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="CP_VOLLEDIGENAAM" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="40"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="CP_GESLACHT" default="ONBEKEND" nillable="true" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="ONBEKEND"/>
						<xs:enumeration value="MAN"/>
						<xs:enumeration value="VROUW"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="CP_TELEFOON" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="25"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="CP_TELEFOON2" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="25"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="CP_TELEFAX" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="25"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="CP_EMAIL" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="80"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="CP_NAAMINADRES" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="60"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="CP_NAAMINAANHEF" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="60"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="CP_NAAMINBRIEF" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="60"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="CP_FUNCTIES" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="CP_FUNCTIE" maxOccurs="unbounded">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="CP_FUNCTIENUMMER">
										<xs:simpleType>
											<xs:restriction base="xs:integer">
												<xs:minInclusive value="0"/>
												<xs:maxInclusive value="999"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="CP_VOORKEUR" nillable="true" minOccurs="0">
										<xs:simpleType>
											<xs:list itemType="BOOL"/>
										</xs:simpleType>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="CP_SELECTIES" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="CP_SELECTIE" minOccurs="0" maxOccurs="unbounded">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="CP_SELECTIECODE">
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="3"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
					<xs:attribute name="action" use="optional">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:enumeration value="delete"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:attribute>
				</xs:complexType>
			</xs:element>
			<xs:element name="CP_OPMERKING" type="xs:string" minOccurs="0"/>
			<xs:element name="CP_VRIJERUBRIEKEN" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="CP_VRIJERUBRIEK" maxOccurs="unbounded">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="CP_VRIJERUBRIEK_NAAM">
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="40"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="CP_VRIJERUBRIEK_WAARDE" minOccurs="0"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:all>
	</xs:complexType>
	<xs:simpleType name="BOOL">
		<xs:annotation>
			<xs:documentation>vervangt standaard boolean</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="false"/>
			<xs:enumeration value="true"/>
			<xs:enumeration value="False"/>
			<xs:enumeration value="True"/>
			<xs:enumeration value="FALSE"/>
			<xs:enumeration value="TRUE"/>
			<xs:enumeration value="0"/>
			<xs:enumeration value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="TIME">
		<xs:annotation>
			<xs:documentation>vervangt standaard time</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:annotation>
				<xs:documentation>vervangt standaard time</xs:documentation>
			</xs:annotation>
			<xs:pattern value="(([01][0-9])|(2[0-3]))(:[0-5][0-9])"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="INT8">
		<xs:restriction base="xs:integer">
			<xs:totalDigits value="8"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="INT10">
		<xs:restriction base="xs:integer">
			<xs:totalDigits value="10"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="UINT3">
		<xs:restriction base="xs:integer">
			<xs:minInclusive value="0"/>
			<xs:maxInclusive value="999"/>
			<xs:totalDigits value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="INT3">
		<xs:restriction base="xs:integer">
			<xs:totalDigits value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="BEDRAG">
		<xs:annotation>
			<xs:documentation>positief bedrag</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:decimal">
			<xs:minInclusive value="0"/>
			<xs:maxInclusive value="9999999999.999"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="KWALITEIT">
		<xs:annotation>
			<xs:documentation>10 Is het beste; 1 is het slechtste; 0 is onbekend/niet van toepassing</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:integer">
			<xs:minInclusive value="0"/>
			<xs:maxInclusive value="10"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="PERCENTAGE">
		<xs:restriction base="xs:decimal">
			<xs:minInclusive value="0"/>
			<xs:maxInclusive value="100"/>
			<xs:fractionDigits value="2"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="VALUTA">
		<xs:restriction base="xs:string">
			<xs:maxLength value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="WEEKDAG">
		<xs:restriction base="xs:string">
			<xs:enumeration value="MAA"/>
			<xs:enumeration value="DIN"/>
			<xs:enumeration value="WOE"/>
			<xs:enumeration value="DON"/>
			<xs:enumeration value="VRI"/>
			<xs:enumeration value="ZAT"/>
			<xs:enumeration value="ZON"/>
			<xs:enumeration value=""/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
