xsds/KingMagazijnOntvangsten.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:element name="KING_MAGAZIJNONTVANGSTEN">
		<xs:annotation>
			<xs:documentation>King magazijnontvangsten versie 18-08-2014</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="MAGAZIJNONTVANGSTEN" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="MAGAZIJNONTVANGST" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="MAGAZIJNONTVANGSTKOP" minOccurs="0">
											<xs:complexType>
												<xs:all>
													<xs:element name="MOK_ONTVANGSTNUMMER" nillable="true" minOccurs="0">
														<xs:simpleType>
															<xs:list itemType="UINT10"/>
														</xs:simpleType>
													</xs:element>
													<xs:element name="MOK_LEVERANCIERNUMMER" nillable="true" minOccurs="0">
														<xs:simpleType>
															<xs:list itemType="UINT10"/>
														</xs:simpleType>
													</xs:element>
													<xs:element name="MOK_LEVERANCIEREANCODE" type="EANCODE" nillable="true" minOccurs="0"/>
													<xs:element name="MOK_ONTVANGSTDATUM" nillable="true" minOccurs="0">
														<xs:simpleType>
															<xs:list itemType="xs:date"/>
														</xs:simpleType>
													</xs:element>
													<xs:element name="MOK_MAGAZIJNCODE">
														<xs:simpleType>
															<xs:restriction base="xs:integer">
																<xs:minInclusive value="0"/>
																<xs:maxInclusive value="999"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="MOK_VALUTA" minOccurs="0">
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:maxLength value="3"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="MOK_BEDRAG" nillable="true" minOccurs="0">
														<xs:simpleType>
															<xs:list itemType="DECIMAL"/>
														</xs:simpleType>
													</xs:element>
													<xs:element name="MOK_BETALINGSCONDITIE" nillable="true" minOccurs="0">
														<xs:simpleType>
															<xs:list itemType="INT3"/>
														</xs:simpleType>
													</xs:element>
													<xs:element name="MOK_AANGEMAAKTDOOR" minOccurs="0">
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:maxLength value="40"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="MOK_AANGEMAAKTOP" nillable="true" minOccurs="0">
														<xs:simpleType>
															<xs:list itemType="xs:date"/>
														</xs:simpleType>
													</xs:element>
													<xs:element name="MOK_AANGEMAAKTOP_TIJDSTIP" nillable="true" minOccurs="0">
														<xs:simpleType>
															<xs:list itemType="TIME"/>
														</xs:simpleType>
													</xs:element>
													<xs:element name="MOK_OMSCHRIJVING" minOccurs="0">
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:maxLength value="40"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="MOK_PAKBONNUMMERLEVERANCIER" minOccurs="0">
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:maxLength value="20"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="MOK_OPMERKING" type="xs:string" minOccurs="0"/>
													<xs:element name="MOK_FACTUURBOEKINGMAKEN" nillable="true" minOccurs="0">
														<xs:simpleType>
															<xs:list itemType="BOOL"/>
														</xs:simpleType>
													</xs:element>
													<xs:element name="MOK_FACTUURNUMMER" minOccurs="0">
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:maxLength value="40"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="MOK_FACTUURDATUM" nillable="true" minOccurs="0">
														<xs:simpleType>
															<xs:list itemType="xs:date"/>
														</xs:simpleType>
													</xs:element>
													<xs:element name="MOK_VERVALDATUM" nillable="true" minOccurs="0">
														<xs:simpleType>
															<xs:list itemType="xs:date"/>
														</xs:simpleType>
													</xs:element>
													<xs:element name="MOK_BETALINGSKENMERK" minOccurs="0">
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:maxLength value="24"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
												</xs:all>
											</xs:complexType>
										</xs:element>
										<xs:element name="MAGAZIJNONTVANGSTREGELS" minOccurs="0">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="MAGAZIJNONTVANGSTREGEL" minOccurs="0" maxOccurs="unbounded">
														<xs:complexType>
															<xs:all>
																<xs:element name="MOR_SOORT" nillable="true" minOccurs="0">
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:maxLength value="3"/>
																			<xs:enumeration value="ART"/>
																			<xs:enumeration value="TAR"/>
																			<xs:enumeration value=""/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="MOR_ARTIKELNUMMER" minOccurs="0">
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:maxLength value="20"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="MOR_ARTIKELEANCODE" minOccurs="0">
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:maxLength value="14"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="MOR_ARTIKELNUMMERLEVERANCIER" minOccurs="0">
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:maxLength value="20"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="MOR_BESTELNUMMER" nillable="true" minOccurs="0">
																	<xs:simpleType>
																		<xs:list itemType="UINT10"/>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="MOR_BESTELREGELNUMMER" nillable="true" minOccurs="0">
																	<xs:simpleType>
																		<xs:list itemType="INT5"/>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="MOR_PARTIJNUMMER" minOccurs="0">
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:maxLength value="20"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="MOR_INKOOPEENHEID" minOccurs="0">
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:maxLength value="20"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="MOR_VOORRAADEENHEDENININKOOPEENHEID" minOccurs="0">
																	<xs:simpleType>
																		<xs:restriction base="xs:decimal">
																			<xs:minInclusive value="-9999999999.999"/>
																			<xs:maxInclusive value="9999999999.999"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="MOR_AANTALONTVANGEN" minOccurs="0">
																	<xs:simpleType>
																		<xs:restriction base="xs:decimal">
																			<xs:minInclusive value="-9999999999.999"/>
																			<xs:maxInclusive value="9999999999.999"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="MOR_INKOOPPRIJSPER" nillable="true" minOccurs="0">
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:enumeration value="INKOOPEENHEID"/>
																			<xs:enumeration value="AANTALVOORRAADEENHEDEN"/>
																			<xs:enumeration value=""/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="MOR_PRIJS" nillable="true" minOccurs="0">
																	<xs:simpleType>
																		<xs:list itemType="BEDRAG"/>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="MOR_KORTINGSBEDRAG" nillable="true" minOccurs="0">
																	<xs:simpleType>
																		<xs:list itemType="DECIMAL"/>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="MOR_KORTINGSPERCENTAGE" minOccurs="0">
																	<xs:simpleType>
																		<xs:restriction base="xs:decimal">
																			<xs:minInclusive value="-100.00"/>
																			<xs:maxInclusive value="100.00"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="MOR_BTWCODE" nillable="true" minOccurs="0">
																	<xs:simpleType>
																		<xs:list itemType="INT3"/>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="MOR_AANTALCORRECTIE" nillable="true" minOccurs="0">
																	<xs:simpleType>
																		<xs:list itemType="DECIMAL"/>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="MOR_OPMERKING" type="xs:string" minOccurs="0"/>
																<xs:element name="MAGAZIJNONTVANGSTREGELDETAILS" minOccurs="0">
																	<xs:complexType>
																		<xs:sequence>
																			<xs:element name="MAGAZIJNONTVANGSTREGELDETAIL" minOccurs="0" maxOccurs="unbounded">
																				<xs:complexType>
																					<xs:all>
																						<xs:element name="MORD_SERIENUMMER" minOccurs="0">
																							<xs:simpleType>
																								<xs:restriction base="xs:string">
																									<xs:maxLength value="20"/>
																								</xs:restriction>
																							</xs:simpleType>
																						</xs:element>
																						<xs:element name="MORD_LOCATIECODE" minOccurs="0">
																							<xs:simpleType>
																								<xs:restriction base="xs:string">
																									<xs:maxLength value="20"/>
																								</xs:restriction>
																							</xs:simpleType>
																						</xs:element>
																						<xs:element name="MORD_AANTALONTVANGEN" nillable="true" minOccurs="0">
																							<xs:simpleType>
																								<xs:list itemType="DECIMAL"/>
																							</xs:simpleType>
																						</xs:element>
																						<xs:element name="MORD_AANTALCORRECTIE" nillable="true" minOccurs="0">
																							<xs:simpleType>
																								<xs:list itemType="DECIMAL"/>
																							</xs:simpleType>
																						</xs:element>
																						<xs:element name="MORD_ORDERNUMMER" nillable="true" minOccurs="0">
																							<xs:simpleType>
																								<xs:list itemType="INT10"/>
																							</xs:simpleType>
																						</xs:element>
																						<xs:element name="MORD_ORDERREGELNUMMER" nillable="true" minOccurs="0">
																							<xs:simpleType>
																								<xs:list itemType="UINT3"/>
																							</xs:simpleType>
																						</xs:element>
																						<xs:element name="MORD_BESTELREGELSOORT" nillable="true" minOccurs="0">
																							<xs:simpleType>
																								<xs:restriction base="xs:string">
																									<xs:enumeration value="MAGAZIJN"/>
																									<xs:enumeration value="VERKOOPORDER"/>
																									<xs:enumeration value=""/>
																								</xs:restriction>
																							</xs:simpleType>
																						</xs:element>
																					</xs:all>
																				</xs:complexType>
																			</xs:element>
																		</xs:sequence>
																	</xs:complexType>
																</xs:element>
															</xs:all>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:simpleType name="BOOL">
		<xs:annotation>
			<xs:documentation>vervangt standaard boolean</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="false"/>
			<xs:enumeration value="true"/>
			<xs:enumeration value="False"/>
			<xs:enumeration value="True"/>
			<xs:enumeration value="FALSE"/>
			<xs:enumeration value="TRUE"/>
			<xs:enumeration value="0"/>
			<xs:enumeration value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="DECIMAL">
		<xs:annotation>
			<xs:documentation>Bedoelt voor negatieve bedragen waar het nodig is</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:decimal">
			<xs:minInclusive value="-9999999999.999"/>
			<xs:maxInclusive value="9999999999.999"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="INT10">
		<xs:restriction base="xs:integer">
			<xs:totalDigits value="10"/>
			<xs:minInclusive value="0"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="INT5">
		<xs:restriction base="xs:integer">
			<xs:totalDigits value="5"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="BEDRAG">
		<xs:annotation>
			<xs:documentation>positief bedrag</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:decimal">
			<xs:minInclusive value="0"/>
			<xs:maxInclusive value="9999999999.999"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="INT3">
		<xs:restriction base="xs:integer">
			<xs:totalDigits value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="UINT3">
		<xs:restriction base="xs:integer">
			<xs:minInclusive value="0"/>
			<xs:maxInclusive value="999"/>
			<xs:totalDigits value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="UINT10">
		<xs:restriction base="xs:integer">
			<xs:minInclusive value="0"/>
			<xs:maxInclusive value="9999999999"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="EANCODE">
		<xs:restriction base="xs:string">
			<xs:maxLength value="14"/>
		</xs:restriction>
	</xs:simpleType>
  <xs:simpleType name="TIME">
		<xs:annotation>
			<xs:documentation>vervangt standaard time</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:annotation>
				<xs:documentation>vervangt standaard time</xs:documentation>
			</xs:annotation>
			<xs:pattern value="(([01][0-9])|(2[0-3]))(:[0-5][0-9])"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>